
@font-face {
	src: url("../fonts/GreatVibes-Regular.ttf");
	font-family: D; /*đặt tên lại cho font*/
}
.br {
	
}
h1 {
	color: #f48c35;
	font-family: D;
	font-weight: 800;
}

.menu {
	
}
.menu ul{
	list-style: none;
	padding-left: 0px;
	margin: 0px;
}
.menu ul li {
	float: left;
	padding: 15px;
}
.menu ul li a {
	text-decoration: none;
	color: #048444;
	font-weight: bold;
}
.menu ul li a:hover {
	color: #f48c35;
	
}

/*=========================VÙNG BEST SELLER====================================*/
.frame {
	border: #048444 dashed 2px; 
	padding: 10px;
	border-radius: 10px;
	margin: 10px 0px;
}
.frame p {
	color: #048444;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	margin-top: 10px; 
}

/*============================vùng footer========================================*/
hr {
	border:#04843c solid 2px; /*theo thứ tự: màu - kiểu - độ dày*/
}

.footer {
	
}

.footer ul {
	list-style: none;
	margin: 0px;
	padding-left: 0px;
}
.footer ul li {
	padding: 5px;
}
.footer ul li a {
	text-decoration: none;
	color: #04843c;
}
.footer ul li a:hover {
	text-decoration: underline;
}
.footer ul li a img {
	width: 25px;
	height: 25px;
	margin: 5px;

}
